* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Vesper Libre', serif;
}

.menu-container {
    color: #fff;
    background-color: #676F54;

    display:flex;
    justify-content: center;
}
.menu {
    width: 1200px;

    display:flex;
    justify-content: space-between;
}
ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;
}
ul li{
  padding: 7px 20px;
}
ul .home{
  display: flex;
  justify-content: flex-start;
}

a:link,
a:visited{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:rgb(200, 200, 200);
    text-decoration: none;
}
a:active{
  color:rgb(230,230,230);
  text-decoration: none;
}


.about-container,
.header-container {
    color: #fff;
    background-color: #896279;

    display: flex;
    justify-content: center;
}
 .header img {
    width: 200px;
 }
 .header {
    width: 1000px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.photo-grid-container {
    background-color:#F3FFB9;

    display: flex;
    justify-content: center;
  }
  .photo-grid img {
    width: 400px;
    min-height: 100%;
    min-width: 100%;
  }
  .photo-grid {
    width: 1200px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
  }
  .photo-grid-item {
    width: 400px;
    height: 300px;
  }


.about {
  width:900px;
  text-align: center;
  padding: 40px 0 40px 0;
}
.contact-container {
  color: #000;
  background-color: #F3FFB9;

  margin: auto;
  display: flex;
  justify-content: center;
}
.contact {
  width:900px;
  text-align: center;
  padding: 40px 0 40px 0;
}

  
.footer {
  background-color: #676F54;
  height: 150px;
}


.form-contatiner {
  display:flex;
  justify-content: center;

 }
 .form{
  width: 800px;
  margin-left: 20px;

  display:flex;
  flex-direction: column;
}
.form-item {
  margin-top: 20px;
}