* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --brown: #1d1d1d;
  --ochre: #d5a021;
  --alabaster: #ede7d9;
}

body {
  font-family: 'Vesper Libre', serif;
}

.menu-container {
    color: #fff;
    background-color: var(--brown);

    display:flex;
    justify-content: center;
}
.menu {
    width: 1200px;

    display:flex;
    justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
}
ul li{
  list-style: none;
  padding: 7px 20px;
}

a:link,
a:visited{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:rgb(200, 200, 200);
    text-decoration: none;
}
a:active{
  color:rgb(230,230,230);
  text-decoration: none;
}


.about-container,
.header-container {
    color: #fff;
    background-color: var(--ochre);

    display: flex;
    justify-content: center;
}
 .header img {
    width: 200px;
 }
 .header {
    width: 1000px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.photo-grid-container {
    background-color: var(--alabaster);

    display: flex;
    justify-content: center;
  }
  .photo-grid img {
    width: 400px;
    min-height: 100%;
  }
  .photo-grid {
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
  }
  .photo-grid-item {
    width: 400px;
    height: 300px;
}


.about {
  width:900px;
  text-align: center;
  padding: 40px 20px 40px 20px;
}
.contact-container {
  color: #000;
  background-color: var(--alabaster);

  display: flex;
  justify-content: center;
}
.contact {
  width:900px;
  text-align: center;
  padding: 40px 20px;
}

.testimonial-container{
  background-color: var(--alabaster);
  text-align: center;
  padding: 40px 10px;
}
.testimonial {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 15px;
  margin:20px;
  text-align: start;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonial img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 20px;
}
.testimonial:nth-child(2n-1) {
  flex-direction: row-reverse;
  text-align: end;
}

  
footer {
  background-color: var(--brown);
  height: 150px;
}


.form-inst-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 }
 .form{
  width: 450px;
  margin: 10px 20px;

  display:flex;
  flex-direction: column;
}
.form-item {
  margin-top: 20px;
}

.form input:not(input[type='file']),
.form select,
.form textarea{
  font-family: 'Vesper Libre',serif;
  border: 1px solid var(--brown);
  border-radius: 7px;
  font-size: 1rem;
  padding: 3px 7px;
}

.instructions {
  width: 450px;
  margin: 20px 20px 20px 40px;

  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .form,
  .instructions{
   width: 90%;
 }
 .form-inst-container {
  flex-direction: column;
 }
 .testimonial {
  flex-direction: column;
  text-align: center;
 }
 .testimonial:nth-child(2n-1) {
  text-align: center;
  flex-direction: column;
 }
 }